<div id="extension_settings_nihongo_helper" class="extension_container">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>Nihongo Helper</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <div class="flex-container flexFlowColumn">
                <label class="checkbox_label" for="nihongo_helper_enabled">
                    <input type="checkbox" id="nihongo_helper_enabled" />
                    <span>Enable furigana above kanji</span>
                </label>
                <label class="checkbox_label" for="nihongo_helper_hover_only" title="When enabled, furigana is only visible when hovering over a paragraph. Space is always reserved to prevent layout shifts.">
                    <input type="checkbox" id="nihongo_helper_hover_only" />
                    <div class="flex-container flexFlowColumn alignItemsFlexStart">
                        <span>Show furigana only on hover</span>
                        <small class="notes">Space is reserved even when hidden, preventing layout shifts</small>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>
